<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Joe Choong. It uses API data from mapbox.com, darksky.net and is written in node.js
        </p>
        <p>The following node.js modules are also used: express, require, hbs, handlebar</p>
        <img class="portrait" src="img/workman.GIF">
    </div>

    {{>footer}}

</body>


</html>